*{
    box-sizing: border-box;
}

.container{
    position: relative;
    top: 0;
    left: 0;
}

.allineamento{
    width: 50%;
    margin-top: 1.5%;
    margin-left: auto;
    margin-right: auto;
}

.riquadro{
    height: auto;
    width: auto;
    font-size: large;
}

/*inizio colori riquadri*/
.verde{
    background-color: green;
}

.rosso{
    background-color: red;
}
/*fine colori riquadri*/


.cuore-rosso{
    font-size: x-large;
    color: red;
    position: absolute;
    top: 88%; 
    left: 50%;
    display: none;
}

/*reazione al mouse con comparizione cuore*/
div:hover span{
    display: block;
}

div {
    display: inline-block;
}

/*posizionamento in alto a destra*/
.posizione-top-dx{
    position: absolute;
    top: 0;
    right: 0;
}

/*crea un margine in alto*/
header{
    margin-bottom: 30px;
}