*{
    box-sizing: border-box;
}

.container{
    position: relative;
}

img{
    text-align: center;
}

.riquadro{
    height: auto;
    width: auto;
    font-size: large;
}

.verde{
    background-color: green;
}

.rosso{
    background-color: red;
}

div {
    display: inline-block;
}

.posizione-top-dx{
    position: absolute;
    top: 0;
    right: 0;
}